body {
    font-family: 'Roboto';
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
}

a {
    color: #6a6a6a;
    text-decoration: underline;
}

a:hover {
    color: #CB3B8A;
}

abbr {
    text-decoration: none;
}

h1 {
    font-family: 'Lobster';
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    color: white;
    text-shadow:
        -1px -1px 10px #D52E87,  
        1px -1px 10px #D52E87,
        -1px 1px 10px #D52E87,
        1px 1px 10px #D52E87;

    padding: 25px;
}

h2 {
    font-family: 'Roboto';
    font-style: italic;
    color: white;
    font-size: 16px;
    padding: 1.5em;

    border-left: 2px solid #785594;
    border-right: 2px solid #785594;
}

header[role=banner] {
    background-image: url(./images/Pink-Abstract-Gradient-Background-Graphics-4205837-1-1-580x387.jpeg);
    background-size: cover;
}

h3 {
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #785594;

    border-bottom: 2px solid #F6C5E0;
}

p {
    color: #6a6a6a;
    line-height: 1.25em;
}

.preamble, .summary {
    margin-left: 50px;
}

.explanation, .participation, .benefits {
    width: 60%;
    margin-left: 50px
}

.requirements {
    width: 60%;
    margin-left: 50px;
}

.sidebar a {
    color: #D52E87;
    text-decoration: none;
}
.sidebar a:hover, .sidebar a:focus {
    color: #E567AE;
}
.sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

.design-selection {
    position: absolute;
    top: 450px;
    right: 0;
    width: 33.3%;
    padding: 0 0 20px 0;
    margin: 0;
    overflow: visible;
}

.zen-resources {
    position: absolute;
    top: 1200px;
    right: 0;
    width: 33.3%;
    padding: 0 0 20px 0;
    margin: 0;
    overflow: visible;
}

.design-selection ul, .zen-resources ul {
    margin: 0;
}

.design-selection li, .zen-resources li {
    float: left;
    width: 50%;
    padding: 1.5em 10%;
    border-top: solid 1px #785594;
    color: #785594;
}

.design-selection li:first-child {
    border-top: 0;
}

.zen-resources li:first-child {
    border-top: 0;
}

.design-archives {
    background-color: #DB499B;
    color: white;
    position: absolute;
    top: 160px;
    right: 0;

    height: 70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.design-archives h3 {
    display: none;
}

.design-archives a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: 16px;
    line-height: 1rem;
    margin: 3rem;
}

.design-archives > a:hover {
    color: #7D5595;
    background-color: #F6C5E0;
}

footer {
	display: flex;
	justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
}

footer > a {
    background: #D52E87;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
}

footer > a:hover {
    color: F6C5E0
}